body {
  font-family: 'Poiret One', sans-serif;
  color:#EEEEEE;
  background: #EED877 url('img/website-backgrounds-hd-arena.jpg') repeat;
  margin: 5%;
}

.container {
  margin-left: 5%;
}

.about {
  margin: 0 20px 10px 0;
  float: left;
  display: block;
  width: 1000px;
}

a {
  color: #EEEEEE;
  text-decoration: none;
}

.headline {
  margin-left: 40%;
  font-size: 3em;
}

h1{
  font-size: 2.000em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.750em;
  color: #4FB69F;
}

.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png') no-repeat right top;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  display: inline;
  margin-bottom: 8px;
}

.btn:hover {
  background-color: #4CC4A7;
}

ul.nav {
  margin: 0 auto;
  list-style: none;
  width: 40%;
  position: relative;
  left: 5%;
  padding-top: 1%;
}

ul.nav li {
  float:left;
  margin-right: 40px;
}

ul.nav li a {
  color: #FAF3BC;
}

#intro {
  margin:50px 0 75px 0;
}

#travel-fun img {
  border: 8px solid lightgrey;
  border-style: groove;
  margin: 0 0 20px 0;
  max-width:100%;
  max-height:100%;
}

#getting-out img {
  border: 8px solid lightgrey;
  border-style: groove;
  max-width:100%;
  max-height:100%;
}

#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px;
  margin:15px 0px;
  text-align: center;
}


