
html,body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }

@font-face { font-family: AUdimat-Bold; src: url('AUdimat-Bold.otf'); } 
@font-face { font-family: AUdimat-Regular; src: url('AUdimat-Regular.otf'); } 

a {
	text-decoration: none;
	color: #FFFFFF;

}

.nav {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	list-style-type: none;
	line-height: 5;
	font-family: 'AUdimat-Regular';
}

.nav p {
	margin: 0;
	padding: 0;
	width: 150px;
}

.topnav {
	background-color: #E85607;
	height: 10em;
}

/*STYLING NAV LINKS*/

a#emilymfoley {
	font-family: 'AUdimat-Bold';
	font-size: 3em;
	
}

